.about {
    margin: 100px auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    background-color: white;
}

.about-left {
    flex-basis: 40%;
    position: relative;
}

.about-right {
    flex-basis: 56%;
}

.about-img {
    width: 100%; /* Make the width responsive */
    max-width: 300px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Smooth corners */
    margin-left: 0; /* No need to use px if the value is 0 */
}

.about h3 {
    font-weight: 700;
    font-size: 36px;
    color: #333;
}

.about h2 {
    font-size: 50px;
    color:#000F38;
    margin: 10px 0;
    max-width: 400px;
}

.about p {
    color: #676767;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 2.1;
}
.about h2 {
    margin: 10px 10px;
}

/* --- media query --- */

@media (max-width: 1000px) {
    .about {
        flex-direction: column;
        flex-basis: 100%;
        margin: 20px;
    }
}

@media (max-width: 800px) {
    .about-left {
        flex-basis: 100%;
        margin: 20px;
    }
    .about-right{
        flex-basis: 100%;
    }
    .about-img {
        height: 400px; /* Fixed height for larger screens */
    }
    }
    





