 .contactDesc {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px 20px;
}

.title {
    font-weight: 600;
    font-size: 50px;
    margin: 40px 20px 10px;
}

#contactSection {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    max-width: 75rem;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.socialImage {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 10px 10px;
    flex-wrap: wrap;
}

.name, .email, .message {
    margin: 0.5rem;
    border: none;
    width: 100%;
    color: white;
    padding: 0.5rem 1rem;
    font-size: medium;
    max-width: 40rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.btn{
    margin: 10px 80px 30px;
    background-color: black;
    color: blue;
    background: #212121;

}

/*  --- media query --- */

@media (max-width: 500px){
    #contactSection {
        display: block;
        margin-left: 0;  /* Changed from 'none' to '0' */
        height: auto;  /* Adjust height to fit content */
        width: 100%;   /* Full width for small screens */
        justify-content: flex-start;
        max-width: 100%; /* Ensure it uses the full width */
        padding: 0 10px; /* Add some padding for better layout */
    }
    .title {
        font-size: 25px;
        font-weight: 500;
        margin: 10px;
    }
    .contactDesc {
        margin: 10px;
        font-size: 15px;
    }
    .inputs {
        margin: 10px;
        width: auto;
    }
    .socialImage {
        width: 2.5rem;  /* Smaller icons for small screens */
        height: 2.5rem;
    }
}

@media (max-width: 400px){
    #contactSection {
        display: block; /* Use block display to stack elements vertically */
        margin-left: 0;
        height: auto;
        width: 100%;
        justify-content: flex-start;
        max-width: 100%;
        padding: 0 10px;
    }

    #left-sided {
        float: left;
        width: 100%;
    }
}
